<h1>Madame, Monsieur,</h1>

<p>
    Merci de confirmer votre email en cliquant sur ce lian: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
