.alert, .alert-sucess, .alert-danger {
    width: 100%;
    color: white;
    text-align: center;
    background-color: red;
}

body {
    padding-top: 3.5%!important;
}

.main {
    background-image: url('../images/BG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-top: -75px;
}

.titre-barre {
    display: flex;
    padding-top: 135px;
    align-items: center;
    flex-direction: column;
}

.titre {
    color: white;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Mountains of Christmas', cursive;
}

.barre {
    width: 110px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 3px solid #1ec7cc;
}

.container-services {
    margin: auto;
    display: flex;
    max-width: 1800px;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.container-services-bis {
    margin: auto;
    display: flex;
    max-width: 1800px;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.linear-image{
    z-index: 2;
    width: 40px;
    height: 467px;
    position: absolute;
    background: linear-gradient(90deg, #F5624D, #CC231E);
}

.image-container {
    z-index: 1;
    width: 700px;
    position: relative;
    box-shadow: 0px 0px 10px 10px #CC231E;
}

.image-container-bis {
    z-index: 1;
    width: 700px;
    position: relative;
    box-shadow: 0px 0px 10px 10px #F5624D;
}

.texte-droite {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.texte-droite-bis {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texte-container {
    width: 90%;
    color: white;
    text-align: end;
    font-size: 30px;
    font-family: cursive;
}

.texte-container-bis {
    width: 90%;
    color: white;
    font-size: 30px;
    text-align: start;
    font-family: cursive;
}

.image-gauche {
    display: flex;
    justify-content: flex-start;
}

.image-gauche-bis {
    display: flex;
    justify-content: flex-end;
}

.titre-gauche {
    color: white;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Mountains of Christmas', cursive;
}

.titre-droite {
    color: white;
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Mountains of Christmas', cursive;
}

.financement {
    width: 75%;
    margin: auto;
    height: 950px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px 5px black;
    background: radial-gradient(ellipse at center, #F5624D, #CC231E);
}

.titre-financement {
    color: yellow;
    margin-top: 55px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 15px;
    justify-content: center;
    font-family: 'Mountains of Christmas', cursive;
}

.sous-titre {
    width: 75%;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 50px;
    font-family: cursive;
}

.bloc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-financement {
    width: 33%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-financement-bis {
    width: 33%;
    display: flex;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-financement {
    width: 15%;
}

.image-titre {
    color: #1ec7cc;
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 35px;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Mountains of Christmas', cursive;
}

.barre-financement {
    width: 123px;
    margin-bottom: 35px;
    border: 2px solid #c7cc1e;
}

.texte-financement {
    width: 75%;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
}

.dons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boutons {
    border: 0;
    width: 50%;
    padding: 10px;
    color: white;
    font-size: 17px;
    margin-top: 30px;
    transition: 0.2s;
    border-radius: 30px;
    font-family: cursive;
    background: #1ec7cc;
}

.bouton-donation {
    border: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    transition: 0.2s;
    margin-bottom: 30px;
    border-radius: 30px;
    font-family: cursive;
    background: #1ec7cc;
}

.bouton-dons {
    border: 0;
    width: 50%;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    transition: 0.2s;
    margin-bottom: 30px;
    border-radius: 30px;
    font-family: cursive;
    background: #1ec7cc;
}

.montant-dons {
    margin-top: 5px;
    font-size: 100px;
    color: #1ecc23;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Mountains of Christmas', cursive;
}

.boutons:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px white;
}

.bouton-dons:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px white;
}

.bouton-donation:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px white;
}

.partie-dons {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
    justify-content: space-evenly;
}

.texte-dons {
    font-size: 35px;
    color: #1ecc23;
    text-align: center;
    margin-bottom: 15px;
    font-family: cursive;
}

.icones {
    display: flex;
}

.icones-adoption {
    display: flex;
    margin-top: 175px;
    align-items: center;
    justify-content: space-around;
}

.icones-gauche {
    width: 500px;
    display: flex;
    justify-content: flex-start;
}

.icones-adoption-gauche {
    width: 50px;
    display: flex;
    margin-bottom: 35px;
    justify-content: flex-start;
}

.icones-droite {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.icones-adoption-droite {
    width: 50px;
    display: flex;
    margin-bottom: 35px;
    justify-content: flex-end;
}

.icones img {
    width: 50px;
    margin-bottom: 30px;
}

.faireundon {
    margin-top: 30px;
    font-family: cursive;
}

.animaux-liste {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.animaux-liste-bis {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.carte {
    width: 90%;
    display: flex;
    align-items: center;
    transition: transform .1s;
}

.carte:hover {
    margin-top: 100px;
    font-weight: bold;
    transform: scale(1.3);
    transition: transform .1s;
    box-shadow: 0 0 10px 10px #1ecc23;
}

.image-carte {
    width: 100%;
}

.bienvenue-carte{
    color: yellow;
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Mountains of Christmas', cursive;
}

.nom-carte {
    color: white;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    font-family: cursive;
}

.info-carte {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sexe-f {
    width: 5%;
}

.sexe-m {
    width: 7%;
}

.presentation-carte {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: cursive;
}

.background {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(ellipse at center, #F5624D, #CC231E);
}

.barre-carte {
    width: 110px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 3px solid #1ec7cc;
}

.display {
    display: flex;
    flex-direction: row;
}

.bienvenue-animaux {
    font-size: 55px;
    color: #1ecc23;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 5px;
    font-family: 'Mountains of Christmas', cursive;
}

.barre-carte-bas {
    width: 300px;
    margin-top: 35px;
    border-bottom: 3px solid #1ec7cc;
}

.barre-separation {
    width: 70%;
    margin: auto;
    padding-top: 50px;
    border-bottom: 5px solid #1ec7cc;
}
