{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
   {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }} 
            </div>
    {% endfor %}
    <h1>Liste des dossiers</h1>

    {% for dossier in dossiers %}

    <div>
        <li>Nom : {{ dossier.email}}</li>
        {% if dossier.statut is same as("begin") %}
        <a href="{{ path('folderEmail', {'id': dossier.privateId}) }}">Envoyer un email à cet utilisateur</a>
        {% elseif dossier.statut is same as("DONE") %}
        <a href="{{ path('folderValidate', {'id': dossier.privateId}) }}">Valider ce dossier</a>
        {% elseif dossier.statut is same as("COMPLETE") %}
        <p>Ce dossier a été validé !</p>

        {% endif %}


    <div>
    <br/> 
    <br/>
    <br/>

    {% endfor %}
</div>

{% endblock %}
