{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block body %}
 

<div class="container">
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }} 
            </div>
    {% endfor %}
        <div class="blueBg">
            <div class="box signin">
                <h2>Vous avez déjà un compte ?</h2>
                <button class="signinBtn" type="submit">Se connecter</button>
            </div>
            <div class="box signup">
                <h2>Vous n'avez pas de compte ?</h2>
                <button class="signupBtn" type="submit">S'inscrire</button>
            </div>
        </div>
        <div class="formBx">
            <div class="form signinForm">
                <form action="{{ path('login') }}" method="post">
                    <h3>Se connecter</h3>
                    <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}">
                    <input type="password" id="password" name="_password" placeholder="Mot de passe">
                    <input type="submit" value="Se connecter">
                    <a href="#" class="forgot">Oublie de mot de passe ?</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        const signinBtn = document.querySelector('.signinBtn');
        const signinBtn = document.querySelector('.signupBtn');
        const formBx = document.querySelector('.formBx');
        const body = document.querySelector('body');
        signupBtn.onclick = function() {
            formBx.classList.add('active')
        }
        signinBtn.onclick = function() {
            formBx.classList.remove('active')
        }
    </script>

{% endblock %}
